header {
    background-color: white; 
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
}


.logo {
    margin-left: 20px;
    margin-top: 10px;
    align-items: center;
    background-image: url('/images/logo.png');
    background-size: cover;
    background-position: center;
    width: 160px;
    height: 50px;
}
